<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: DejaVu Sans; }
        h1 { text-align:center; }

        table {
            width:100%;
            border-collapse: collapse;
            margin-top:20px;
        }

        th, td {
            border:1px solid #000;
            padding:8px;
            text-align:center;
        }

        .total {
            margin-top:20px;
            text-align:right;
            font-size:18px;
            font-weight:bold;
        }
    </style>
</head>

<body>

<h1>FACTURE</h1>

<p><strong>Référence :</strong> {{ commande.reference }}</p>
<p><strong>Date :</strong> {{ commande.dateCommande|date('d/m/Y') }}</p>
<p><strong>Client :</strong> {{ commande.utilisateur.email }}</p>

<table>
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Qté</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        {% for item in commande.items %}
            <tr>
                <td>{{ item.produit.nom }}</td>
                <td>{{ item.prixUnitaire }} dt</td>
                <td>{{ item.quantite }}</td>
                <td>{{ item.prixUnitaire * item.quantite }} dt</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="total">
    Total : {{ commande.total }} dt
</div>

</body>
</html>
